* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: black;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background: url(nature.jpg); */
  background-size: cover;
  background-color: #000000;
}
.logo {
  width: 120px;
  height: 120px;
  align-items: center;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}
#imgicon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
h6 {
  margin-left: 10px;
}
nav {
  height: 120px;
  width: 100%;
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: row;
}
ol {
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: BOLD; */
}
a:hover {
  opacity: 0.9;
  color: brown;
}
#navinput {
  width: 150px;
  height: 30px;
  /* border-radius: 10px; */
  font-family: "Times New Roman", Times, serif;
  background: transparent;
  color: white;
  border-right: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#navsearch {
  width: 100px;
  height: 30px;
  background-color: orange;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#navinput:focus {
  outline: none;
}
#navsearch:focus {
  outline: none;
  color: brown;
}
#navsearch:hover {
  outline: none;
  color: brown;
}
.logo1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#content {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  width: 750px;
  height: 260px;
  padding: 30px;
  position: relative;
  border: 1px solid orange;
  background-color: #000000;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#content #content1 {
  position: absolute;
  padding: 20px;
  text-align: center;
}
#content #content1 p {
  font-size: 20px;
  font-family: cursive;
}
#content2 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  width: 750px;
  height: 260px;
  padding: 30px;
  position: relative;
  border: 1px solid orange;
  background-color: #000000;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#content2 #content3 {
  position: absolute;
  /* left: 10%; */
  text-align: center;
  padding: 20px;
}
#content2 #content3 p {
  font-size: 20px;
  font-family: cursive;
}
#content4 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  width: 750px;
  height: 200px;
  padding: 30px;
  position: relative;
  border: 1px solid orange;
  background-color: #000000;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#content4 #content5 {
  position: absolute;
  /* left: 10%; */
  text-align: center;
  padding:20px
  
}
#content4 #content5 p {
  font-size: 20px;
  font-family: cursive;
}
#branches{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 50px;
  background-color: black;
  border: 1px solid orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  border-radius: 10px;
}
#branch1{
  position: absolute;
  top: 1430px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  color: white;
  margin-left: 100px;
  border-radius: 10px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#branch2{
  position: absolute;
  top: 1430px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  color: white;
  margin-left: 400px;
  border-radius: 10px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#branch3{
  position: absolute;
  top: 1430px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  color: white;
  margin-left: 700px;
  border-radius: 10px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#branch4{
  position: absolute;
  top: 1660px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  color: white;
  margin-left: 100px;
  border-radius: 10px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#branch5{
  position: absolute;
  top: 1660px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  color: white;
  margin-left: 400px;
  border-radius: 10px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#branch6{
  position: absolute;
  top: 1660px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  color: white;
  margin-left: 700px;
  border-radius: 10px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#branchbot{
  color: white;
  position: absolute;
  top: 1900px;
  background-color: black;
  border: 1px solid orange;
  margin-left: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: cursive;
}
#footer{
  top: 650px;
  width: 100%;
  height: 220px;
  background-color: orange;
  color: white;
  border: 1px solid white;
  position: relative;
  
}
#contactinfo{
  position: absolute;
  width: 200px;
  height: auto;
  left: 20%;
  top: 22%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#contactinfo2{
  position: absolute;
  width: 200px;
  height: auto;
  left: 40%;
  top: 22%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#contactinfo3{
  position: absolute;
  width: 200px;
  height: auto;
  left: 51%;
  top: 22%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}